<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>Vireo</title>

        <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" media="screen" title="master" charset="utf-8">
        <link rel="stylesheet" href="/static/css/bootstrap-responsive.css" type="text/css" media="screen" title="master" charset="utf-8">
        <link rel="stylesheet" href="/static/style.css" type="text/css">

        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script type="text/javascript" src="/static/interactivity.js"></script>

        <script src="/static/js/stream.js"></script>
        <script src="/static/js/midifile.js"></script>
        <script src="/static/js/replayer.js"></script>
        <script src="/static/js/synth.js"></script>
        <script src="/static/js/audio.js"></script>
        <script>
            function loadRemote(path, callback) {
                var fetch = new XMLHttpRequest();
                fetch.open('GET', path);
                fetch.overrideMimeType("text/plain; charset=x-user-defined");
                fetch.onreadystatechange = function() {
                    if(this.readyState == 4 && this.status == 200) {
                        /* munge response into a binary string */
                        var t = this.responseText || "" ;
                        var ff = [];
                        var mx = t.length;
                        var scc= String.fromCharCode;
                        for (var z = 0; z < mx; z++) {
                            ff[z] = scc(t.charCodeAt(z) & 255);
                        }
                        callback(ff.join(""));
                    }
                }
                fetch.send();
            }
            function getCookie() {
                var tweet = document.cookie;
                return tweet.substring(tweet.indexOf("tweet") + 6);
            }

            function play(file, cb) {
                loadRemote(file, function(data) {
                    midiFile = MidiFile(data);
                    synth = Synth(44100);
                    replayer = Replayer(midiFile, synth);
                    audio = AudioPlayer(replayer);
                    cb();
                })
            }

            function playFile() {
                var cb = function(){
                    var tweetdisplay = document.getElementById('tweetDisplay');
                    tweetdisplay.innerText = getCookie('tweet');
                }
                play('/compose/' + document.getElementById('query').value, cb);
            }
        </script>
    </head>

    <body bgcolor="black">
        {% block content %}
        <div class="container">
            <div id="mainDisplay" align="center" class="span12 custom-hero">
                <div class="row">
                    <div id="bird" class="span6">
                        <img src="/static/imgs/birdhat2.png" id="birdhat" alt = "wtf"/>
                    </div>

                    <div id="formDiv" class="span6" align="center">
                        <img src="/static/imgs/logo.png" id="logo" alt = "wtf"/>
                        <br><br>
                        <input type="text" id="query" name="query" placeholder="Enter a Twitter search query, and I will compose music for you!"/>
                        <br><br>
                        <button class="btn" id="compose" onclick="playFile();">Compose</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div id="tweetDiv" class="custom-hero span12">
                <h1 id = "tweetDisplay">Tweets display here</h1>
            </div>
        </div>
        <br>

        <script src="/static/js/vendor/jquery-1.8.2.min.js" type="text/javascript"></script>
        <script src="/static/js/bootstrap/bootstrap.js" type="text/javascript"></script>
        <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
        {% endblock %}
    </body>
</html>
